

                                                            
                                    <!-- THIS FILE IS SHOWING ALL LISTING ALSO AVAILABE HERE THAT CREATE NEW LISTING-->

  
<% layout("layouts/boilerplate") %>

<body>
    <h3>All Listings</h3>

    <!-- comment it becose available in navbar to create new listing -->
     <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
     </form> -->


<!-- for card type from bootstrap -->
<!-- for loop run krega means for one loop ,one card will be create -->




           <!-- listing-container -->
     <div class=" row row-cols-lg-4  row-cols-md-3 row-cols-sm-1">
        <%  for (let listing of allListings) { %>
            <!-- Display each listing as a card -->
             <!-- each card is in anchor tag -->
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card" style="width:20rem;"  >     
                     <!-- style="width:20rem;"    above line -->
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing_Image" style="height: 20rem; ">
                    <!-- <%= listing.image.url %> -->

                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b><br>
                            <%= listing.location %> <br>
                            &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>







    <!-- <ul>
        <%  for (let listing of allListings) { %>
            <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %> </a> </li>
        <% } %>
    </ul>               -->
</body>

















